@import "mixins";

@import "@components/header/header";

@import "@components/slider/slider";

@import "@components/card/card";

@import "/node_modules/swiper/swiper.scss";

@import "/node_modules/swiper/modules/navigation.scss";

@import "/node_modules/swiper/modules/pagination.scss";

@import "variables";

body, html {

  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 10px;


  @include respond-to(desktop) {
    font-size: calc(6px + .27777778vw);
  }

  @include respond-to(tablet) {
    font-size: .9844444444vw;
  }

  @include respond-to(mobile) {
    font-size: 10px;
  }
}

