<div class="wrapper">
<p class="title">Масло</p>
<div class="card">
    <article class="card__artitle">
        <img class="card__imgSalat" src="/src/assets/card/card_salat.png" alt="oil">
        <div class="card__content">
        <p class="card__nameSalat">
          Масло “Для салата”
        </p>
        <p class="card__description">
          Название говорит само за себя. Это идеальная заправка, которая даже скучной и привычной капусте придаст неповторимый вкус и аромат. 
        </p>
        <p class="card__description">
            Состав: оливковое масло холодного отжима, розмарин, тимьян, базилик, орегано, чеснок, смесь из 5 перцев.
          </p>
        <div class="card__price">
        <div class="counter" data-counter>
          <button class="count__btn count__btn_minus">-</button>
            <div class="counter__input"><input type="text" disabled value="0"></div>
          <button class="count__btn count__btn_plus">+</button>
        </div>
        <div class="card__number">
        <p class="ml">250 мл</p> <p class="priceSalat">115 руб</p>
        </div>
        </div>
        <div class="card__btn">
        <button class="card__buttonSalat">ПОДРОБНЕЕ</button>
        <button class="card__buttonSalat">В КОРЗИНУ</button>
      </div>
      </div>
      </article>
</div>
</div>