<header class="header">
  <div class="header__backgroundLogo">
  <include class="header__logo" src="components/common/svg.html" locals='{ "name" : "logo" }'></include>
  </div>
  <nav class="header__nav">
      <ul  class="header__list">
          <li ><a>Масло</a></li>
          <li><a>О нас</a></li>
          <li><a>Отзывы</a></li>
          <li><a>Оплата и доставка</a></li>
          <li><a>Контакты</a></li>
      </ul>
  </nav>
    <button class="header__btn">
      <include  src="components/common/svg.html" locals='{ "name" : "shopping-basket" }'></include>
    </button>
  
</header>