<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href='/src/styles/slider.scss'>
</head>
<body>
    <include src="components/header/header.html"></include>
    <include src="components/slider/slider.html"></include>
    <include src="components/card/card.html"></include>
    <block name="body"></block>
    
    <script src='/src/utils/main.js' type='module'></script>
  </body>
</html>
