
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <article class="slider">
          <img class="slider__img" src="/src/assets/card/salat.png" alt="oil">
          <div class="slider__content">
          <p class="slider__titleSalat">Наши продукты</p>
          <nav class="slider__nav">
            <button class="slider__paginationSalat">Для салата</button>
            <button class="slider__paginationSalat">Итальянское</button>
            <button class="slider__paginationSalat">Для мяса</button>
            <button class="slider__paginationSalat">Восточное</button>
          </nav>
          <p class="slider__name">
            Масло “Для салата”
          </p>
          <p class="slider__description">
            Название говорит само за себя. Это идеальная заправка, которая даже скучной и привычной капусте придаст неповторимый вкус и аромат. 
          </p>
          <div class="counter" data-counter>
            <button class="count__btn count__btn_minus">-</button>
              <div class="counter__input"><input type="text" disabled value="0"></div>
            <button class="count__btn count__btn_plus">+</button>
          </div>
          <div class="slider__btn">
          <button class="slider__buttonSalat">ПОДРОБНЕЕ</button>
          <button class="slider__buttonSalat">В КОРЗИНУ</button>
        </div>
        </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="slider">
          <img class="slider__img" src="/src/assets/card/italy.png" alt="oil">
          <div class="slider__content">
          <p class="slider__titleItalian">Наши продукты</p>
          <nav class="slider__nav">
            <button class="slider__paginationItalian">Для салата</button>
            <button class="slider__paginationItalian">Итальянское</button>
            <button class="slider__paginationItalian">Для мяса</button>
            <button class="slider__paginationItalian">Восточное</button>
          </nav>
          <p class="slider__name">
            Масло “Итальянское”
          </p>
          <p class="slider__description">
            Идеальное решение для легкого и быстрого маринада мяса, можно добавить капельку масла и после приготовления. 
          </p>
          <div class="counter" data-counter>
            <button class="count__btn count__btn_minus">-</button>
              <div class="counter__input"><input type="text" disabled value="0"></div>
            <button class="count__btn count__btn_plus">+</button>
          </div>
          <div class="slider__btn">
          <button class="slider__buttonItalian">ПОДРОБНЕЕ</button>
          <button class="slider__buttonItalian">В КОРЗИНУ</button>
        </div>
        </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="slider">
          <img class="slider__img" src="/src/assets/card/meet.png" alt="oil">
          <div class="slider__content">
          <p class="slider__titleMeet">Наши продукты</p>
          <nav class="slider__nav">
            <button class="slider__paginationMeet">Для салата</button>
            <button class="slider__paginationMeet">Итальянское</button>
            <button class="slider__paginationMeet">Для мяса</button>
            <button class="slider__paginationMeet">Восточное</button>
          </nav>
          <p class="slider__name">
            Масло “Для мяса”
          </p>
          <p class="slider__description">
            Идеальное решение для легкого и быстрого маринада мяса, можно добавить капельку масла и после приготовления.   
          </p>
          <div class="counter" data-counter>
            <button class="count__btn count__btn_minus">-</button>
              <div class="counter__input"><input type="text" disabled value="0"></div>
            <button class="count__btn count__btn_plus">+</button>
          </div>
          <div class="slider__btn">
          <button class="slider__buttonMeet">ПОДРОБНЕЕ</button>
          <button class="slider__buttonMeet">В КОРЗИНУ</button>
        </div>
        </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="slider">
          <img class="slider__img" src="/src/assets/card/east.png" alt="oil">
          <div class="slider__content">
          <p class="slider__titleEast">Наши продукты</p>
          <nav class="slider__nav">
            <button class="slider__paginationEast">Для салата</button>
            <button class="slider__paginationEast">Итальянское</button>
            <button class="slider__paginationEast">Для мяса</button>
            <button class="slider__paginationEast">Восточное</button>
          </nav>
          <p class="slider__name">
            Масло “Восточное”
          </p>
          <p class="slider__description">
            Идеальное решение для легкого и быстрого маринада мяса, можно добавить капельку масла и после приготовления.  
          </p>
          <div class="counter" data-counter>
            <button class="count__btn count__btn_minus">-</button>
              <div class="counter__input"><input type="text" disabled value="0"></div>
            <button class="count__btn count__btn_plus">+</button>
          </div>
          <div class="slider__btn">
          <button class="slider__buttonEast">ПОДРОБНЕЕ</button>
          <button class="slider__buttonEast">В КОРЗИНУ</button>
        </div>
        </div>
        </article>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
